.reviewsContainer {
    width: 100%;
    margin: 0 auto;
}

.reviewsWrapper {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    border: solid red 5px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

label {
    display: inline-block;
    // margin-right: .5em;
    padding-top: 1.5em;
}

textarea,
input,
button {
    width: 100%;
    display: block;
    top: -3em;
    padding: 1em;
}

.starRating {
    display: block;
}
.starRating textarea {
    height: 100px;
}

.star {
    margin: 5px;
}
.starRatingWrapper {
    display: block;
}

@media screen and (min-width: 768px) {
    .reviewsContainer {
        width: 500px;
    }
}
