
.navbarContainer{
    position: absolute;
    width: 100%;
}
.navbarWrapper{
    display: flex;
    justify-content: flex-end;
    width: 700px;
    margin: 0 auto;
}
.links{
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
    padding-right: 15px;
}

